<launch>
  <!-- Arguments -->
  <arg name="use_sim_time" default="false" />
  <arg name="gui" default="true" />

  <!-- Robot description using xacro -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find kinova_arm_description)/description/kinova_arm.urdf.xacro'" />
  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <!-- Robot State Publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="use_sim_time" value="$(arg use_sim_time)" />
  </node>

  <!-- Joint State Publisher (headless) -->
  <group if="$(eval arg('gui') == 'false')">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_sim_time" value="$(arg use_sim_time)" />
    </node>
  </group>

  <!-- Joint State Publisher GUI -->
  <group if="$(eval arg('gui') == 'true')">
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
      <param name="use_sim_time" value="$(arg use_sim_time)" />
    </node>
  </group>

  <!-- RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find kinova_arm_description)/config/robot.rviz" output="screen">
    <param name="use_sim_time" value="$(arg use_sim_time)" />
  </node>
</launch>