<?xml version="1.0"?>
<robot name="lidar" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="lidar" params="name">
        <link name="${name}">
            <inertial>
                <origin xyz="0.0 0.0 0.027537" rpy="0.0 0.0 0.0" />
                <mass value="0.1" />
                <inertia ixx="0.00006111" iyy="0.00004167" izz="0.00006111" ixy="0.0" iyz="0.0" ixz="0.0" />
            </inertial>
            <visual>
                <origin xyz="0.0 0.0 0.06" rpy="0.0 3.14 0.0" />
                <geometry>
                    <mesh filename="file://$(find skratch_description)/meshes/lidar/lidar.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Black">
                    <color rgba="0 0 0 1"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0.0 0.0 0.6" rpy="0.0 3.14 0.0" />
                <geometry>
                    <mesh filename="file://$(find skratch_description)/meshes/lidar/lidar.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>
        <gazebo reference="${name}">
            <material>Gazebo/Black</material>
        </gazebo>
    </xacro:macro>
</robot>