<?xml version="1.0"?>
<robot name="kinova_shoulder" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="kinova_shoulder">
        <link name="kinova_shoulder">
            <inertial>
                <origin xyz="0.07198810883830421 0.009804160395352531 1.1709966243007998e-08" rpy="0.0 0.0 0.0" />
                <mass value="1.3773" />
                <inertia ixx="0.00457" ixy="1E-06" ixz="2E-06" iyy="0.004831" iyz="0.000448" izz="0.001409" />
            </inertial>
            <visual>
                <origin xyz="-0.009 0.0 -0.009" rpy="1.57 0 1.57" />
                <geometry>
                    <mesh filename="file://$(find skratch_description)/meshes/arm/kinova_shoulder.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="carbon_fiber">
                    <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="-0.009 0.0 -0.009" rpy="1.57 0 1.57" />
                <geometry>
                    <mesh filename="file://$(find skratch_description)/meshes/arm/kinova_shoulder.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>
        <gazebo reference="kinova_shoulder">
            <material>Gazebo/LightBlue</material>
        </gazebo>
    </xacro:macro>
</robot>